body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: linear-gradient(darkgoldenrod, lightyellow,cornsilk);
  }

  .jumbotron {
    color: lighty
    text-align: center;
    /*background-color: seagreen;*/
    background-image: linear-gradient(cornflowerblue, seagreen, cornsilk);
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .searchBtn {
    border: 1px solid black;
    margin: 15px 0px;
    border-radius: 15px ;
    background-color: #06AED5;
    color: white;
    width: 75%;

  }
  
  .searchBtn i:hover {
    font-size: 30px;
    transition: all .3s ease-in-out;
  }

  .cityBtn {
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px 0px;
    background-color: darkgrey;
    color: white;
    width: 75%;
    height: 40px;
    font-size: 20px;
  }
  
  .cityBtn i:hover {
    font-size: 30px;
    transition: all .3s ease-in-out;
  }