body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: cornsilk;
}

.jumbotron {
    color: lighty;
    text-align: center;
    background-image: linear-gradient(cornflowerblue, seagreen, cornsilk);
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.main-container {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-wrap: wrap;
}

.city-container,
.main-info {
    box-sizing: content-box;
}

.searchBtn {
    border: 1px solid black;
    border-radius: 15px;
    background-color: midnightblue;
    color: white;
    width: 75%;
}

.cityBtn {
    border: 1px solid black;
    border-radius: 15px;
    background-color: darkslategray;
    color: white;
    width: 75%;
    height: 40px;
    font-size: 20px;
}

.individual {
    border: 2px solid black;
    background-image: linear-gradient(cornflowerblue, seagreen, cornsilk);
}

.holder {
    display: flex;
}

footer {
    justify-content: center;
    padding: 50px;
}


/* Media Query starts */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .main-container {
        display: block;
    }
    .city-container {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 10px;
    }
    .main-info {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: inline-block;
    }
    .info5 {
        margin-top: 20px;
        width: 100%;
        justify-content: space-around;
        display: inline-block;
    }
    footer {
        text-align: center;
        width: 100%;
        display: inline-block;
    }
    .holder {
        display: inline-block;
    }
}